python-dotenv
langchain-groq
langchain-openai
redis
fastapi[standard]
uvicorn
langchain
beautifulsoup4
langchain-community
langchain-tavily
langchain-ollama

motor
bcrypt==4.2.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]
aiosmtplib
email-validator
httpx
pydantic-settings
openai
nltk
slowapi
